{
	admin 0.0.0.0:2019
	local_certs
	ocsp_stapling off
	auto_https disable_redirects
}

(log_and_errors) {
	log {
		output file /var/log/caddy/{args.0}.json
	}
	handle_errors {
		header Content-Type text/plain
		respond "{http.error.status_code} {http.error.status_text}"
	}
}

(proxy) {
	{args.0}:80 {
		import log_and_errors {args.0}
		reverse_proxy {args.1}
	}
}

import proxy prometheus.prom.0-main.de prometheus.prom:9090
import proxy node.prom.0-main.de node-exporter.prom:9100
import proxy cadvisor.prom.0-main.de cadvisor.prom:8080
import proxy blackbox.prom.0-main.de blackbox_exporter.prom:9115
import proxy grafana.prom.0-main.de grafana.prom:3000
import proxy loki.prom.0-main.de loki.prom:3100
